<div class="flex flex-col mt-5 justify-center items-center">
  <h1 class="text-3xl font-bold mb-6">Current Weather</h1>
  <div class="bg-white rounded-lg p-6 shadow-md">
    <%= form_tag current_weather_path, class: "flex items-center" do %>
      <%= field_set_tag do %>
        <%= text_field_tag :query, @query,
                           placeholder: "Enter a city state and/or zip code",
                           class: "w-80 px-4 py-2 rounded-l-md border border-gray-300 focus:outline-none focus:ring focus:border-blue-300",
                           required: true
        %>

        <%= submit_tag "Submit", class: "btn-primary" %>
      <% end %>
    <% end %>

  </div>

  <% if @weather %>
    <div class="bg-white rounded-lg p-6 shadow-md mt-5">
      <%= image_tag @weather.icon_url %>
      <%= @weather.to_s %>
    </div>
  <% end %>
</div>